# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot

# Virtual environments
venv/
env/
.venv/

# Django stuff
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store